.iconic-image {
    object-fit: cover;
    width: 150px; 
    height: 150px;
  }
  
  .rounded-circle {
    margin-top: 40px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  .values-list {
    padding-left: 20px;
    list-style-type: none;
  }
  
  .mission-paragraph {
    text-align: justify;
  }
  container {
    padding: 0 15px; 
  }
  
  @media (max-width: 768px) {
    .row {
      margin-right: 0; 
      margin-left: 0;
    }
  
    .col-lg-5, .col-lg-6 {
      margin-top: 30px; 
      margin-bottom: 30px;
    }
  
    .col-lg-5 p,
    .col-lg-6 img {
      margin: 0; 
    }
  
    .col-lg-5, 
    .col-lg-6:not(:last-child) {
      margin-bottom: 0; 
    }
  }